<div class="container" id="pageContent">
    <div class="row">
        <div *ngFor="let p of pOIs" class="col-md-4 col-sm-6 col-lg-3 m-b-50">
            <div class="photo-item" style="background-image:url(/Images/4H9A8442-Edit.jpg)">
                <div class="label-icon" [ngClass]="{'lanai-place':p.modelType=='POI',
                                                                'lanai-hike':p.modelType=='HIKE',
                                                                'lanai-car':p.modelType=='TOUR' }"></div>
                <div class="card col-lg-12 no-padding">
                    <div class="top-info">
                        <div class="col-sm-4 text-center"><i class="fa fa-camera"></i> <span class="counter">5</span></div>
                        <div class="col-sm-4 text-center"><i class="fa fa-video-camera"></i> <span class="counter">2</span></div>
                        <div class="col-sm-4 text-center"><i class="fa fa-volume-up"></i> <span class="counter">7</span></div>
                    </div>
                    <div class="col-sm-12">
                        <div class="title">{{p.name}}</div>
                        <div class="description">
                            {{p.description}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="loadMore" class="content-center">
        <button class="button">Load more </button>
    </div>
</div>